.container {
  margin: 0 auto;
}

#emptyTreeMsg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.node {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 3.5rem;
  height: 3.5rem;
  text-align: center;
  border: 2px solid #3eb5c6;
  border-radius: 50%;
  font-size: 10px;
}

.node h3 {
  margin: 0.5em auto;
  color: #292929;
}

.subtree {
  width: 1%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subtree > .children {
  display: flex;
  justify-content: space-between;
}

.left {
  justify-content: flex-start !important;
}

.right {
  justify-content: flex-end !important;
}

.tree {
  width: 50%;
  margin-top: 1em;
  display: flex;
  justify-content: flex-end;
}

.visited {
  background-color: #3eb5c6;
}

input {
  border: 1px solid #3eb5c6;
  color: #292929;
  font-weight: 500;
  margin: 1em;
  text-align: center;
  border-radius: 3em;
  font-size: medium;
  padding: 0.9em;
}

.navbar {
  display: flex;
  justify-content: center;
  border-bottom: 2px solid teal;
  background-color: teal;
  border-bottom: 0.5em solid #005353;
  padding-bottom: 0.7em;
}

button {
  background-color: #005353;
  font-family: 'Montserrat', sans-serif;
  padding: 1em;
  color: white;
  width: 16em;
  border-radius: 3em;
  border: 0.1em solid teal;
  margin: 0 1em;
  transition: background-color 0.2s, border 0.2s;
}

button:hover {
  border: 0.1em solid white;
  background-color: teal;
}

input:hover,
button:hover {
  cursor: pointer;
}

button:focus {
  outline: none !important;
}

input:focus {
  outline: none !important;
}

.logo-bar {
  padding: 2em 2em 0.5em;
  display: flex;
  justify-content: center;
  background-color: teal;
}

#title {
  color: white;
  font-size: 3em;
}

.logo {
  margin: 0 3em;
}

.main-actions {
  background-color: teal;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-actions button {
  width: 9em;
}

#add:hover {
  color: #d9ff7d;
  border-color: #d9ff7d;
}

#remove:hover {
  color: #ff6d6d;
  border-color: #ff6d6d;
}

#find:hover {
    color: #f3d83f;
    border-color: #f3d83f;
  }